[submodule "usr/site-lisp/project-x"]
	path = usr/site-lisp/project-x
	url = https://github.com/karthink/project-x.git
[submodule "usr/site-lisp/rlist"]
	path = usr/site-lisp/rlist
	url = https://gitlab.com/mmemmew/rlist.git
[submodule "usr/site-lisp/ligature.el"]
	path = usr/site-lisp/ligature
	url = https://github.com/mickeynp/ligature.el.git
[submodule "usr/site-lisp/beancount-mode"]
	path = usr/site-lisp/beancount
	url = https://github.com/beancount/beancount-mode.git
[submodule "usr/site-lisp/flymake-vale"]
	path = usr/site-lisp/flymake-vale
	url = https://github.com/tpeacock19/flymake-vale.git
[submodule "usr/site-lisp/flymake-markdownlint"]
	path = usr/site-lisp/flymake-markdownlint
	url = https://github.com/shaohme/flymake-markdownlint.git
