[submodule "src/operator-framework/operator-sdk"]
	path = src/operator-framework/operator-sdk
	url = git@github.com:ryantking/operator-sdk.git
[submodule "src/kubernetes-sigs/kubebuilder"]
	path = src/kubernetes-sigs/kubebuilder
	url = git@github.com:ryantking/kubebuilder.git
[submodule "src/kubernetes-sigs/kubebuilder-declarative-pattern"]
	path = src/kubernetes-sigs/kubebuilder-declarative-pattern
	url = git@github.com:ryantking/kubebuilder-declarative-pattern.git
