[submodule "usr/share/doom-emacs"]
	path = usr/share/doom-emacs
	url = https://github.com/doomemacs/doomemacs.git
[submodule "usr/share/zinit"]
	path = usr/share/zinit
	url = https://github.com/zdharma-continuum/zinit.git
