:root {
  --maincolor: #5e81ac;
  --bordercl: #8fbcbb;
  --callouctcolor: #88c0d0;
  --hovercolor: #5e81ac;
  --darkMaincolor: #a3be8c;
}

body {
  background: #eceff4;
}

.highlight pre code[class*="language-"]::before {
  background: #2e3440;
}
.highlight pre code[class="language-javaScript"]::before,
.highlight pre code[class="language-js"]::before {
  background: #ebcb8b;
}
.highlight pre code[class*="language-yml"]::before,
.highlight pre code[class*="language-yaml"]::before {
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*="language-shell"]::before,
.highlight pre code[class*="language-bash"]::before,
.highlight pre code[class*="language-sh"]::before {
  background: #a3be8c;
  color: #eceff4;
}
.highlight pre code[class*="language-json"]::before {
  background: #5e81ac;
  color: #2e3440;
}
.highlight pre code[class*="language-python"]::before,
.highlight pre code[class*="language-py"]::before {
  background: #5e81ac;
  color: #ebcb8b;
}
.highlight pre code[class*="language-css"]::before {
  background: #88c0d0;
  color: #2e3440;
}
.highlight pre code[class*="language-go"]::before {
  background: #88c0d0;
  color: #5e81ac;
}
.highlight pre code[class*="language-md"]::before,
.highlight pre code[class*="language-md"]::before {
  background: #81a1c1;
  color: #d8dee9;
}
