/**.elc
/.cache
/anaconda-mode
/auto-save
/auto-save-list
/backup
/elpa
/eln-cache
/eshell
/transient
/bookmarks
/cursory-latest-state.eld
/fontaine-latest-state.eld
/package-quickstart.el
/network-security.data
/places
/projects
/recentf
/request
/site-lisp
/tree-sitter
/url
/savehist
/spell-fu
/tramp
