/**.elc
/.cache
/auto-save
/auto-save-list
/backup
/elpa
/eshell
/transient
/bookmarks
/cursory-latest-state.eld
/fontaine-latest-state.eld
/package-quickstart.el
/places
/projects
/recentf
/savehist
/spell-fu
/tramp

