/.cache
/contrib-lisp
/auto-save
/auto-save-list
/backup
/elpa
/eshell
/transient
/bookmarks
/cursory-latest-state.eld
/fontaine-latest-state.eld
/places
/projects
/recentf
/savehist
/tramp
*.elc
/vftc-emacs.el