<!DOCTYPE html>
<html>
  <head>
    {{ partial "html-head" . }}
  </head>
  <body>
    <main class="container flex">
      <aside class="organized-menu">
        <div class="organized-menu-content">
          <nav>
            <h2 class="organized-brand">
              <a
                class="flex align-center"
                href="{{ cond (not .Site.Home.File) .Sites.First.Home.RelPermalink .Site.Home.RelPermalink }}"
                data-icon="octicon-repo"
              >
                <img
                  src="{{ "icons/repo.svg" | relURL }}"
                  class="organized-icon"
                  alt="Logo"
                />
                <span>{{ .Site.Title }}</span>
              </a>
            </h2>
          </nav>
        </div>
      </aside>

      <div class="organized-page">
        <header class="organized-header">
          <h1>Header</h1>
        </header>

        <h1>My Content</h1>

        <footer class="organized-footer">
          <h1>Footer</h1>
        </footer>
      </div>

      <aside class="organized-toc">
        <h1>TOC</h1>
      </aside>
    </main>
  </body>
</html>
